body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #a9a9a9;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.contact-list {
    width: 100%;
    border: 1px solid black;
    border: 1px solid black;
    border: 1px solid black;
    border: 1px solid black;
}